body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
}

header button {
  position: absolute;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: top 0.3s;
}

nav {
  position: fixed;
  width: 100%;
  top: 80px;
  /* Height of the header */
  left: 0;
  background-color: #007BFF;
  z-index: 999;
  opacity: 0.95;
  transition: top 0.2s;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

main {
  padding-top: 140px;
  /* Height of header and nav combined */
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
  background-color: #007BFF;
  color: white;
}

.night {
  background-color: #333;
  color: #ccc;
}

.night header,
.night nav,
.night footer {
  background-color: #222;
  color: #ddd;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  nav ul li {
    display: block;
    text-align: center;
  }

  header button {
    padding: 5px;
    font-size: 0.8em;
  }
}